/* Styles for the body of the page */
body {
  font-family: Arial, sans-serif;
  margin: 20px 0;
  background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
  animation: fadeIn 2s ease-in-out;
}
  
/* Style pour le header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #00bfff;
}

#accueil {
  margin-top: 20px;
}

#accueil .section1 {
  background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

#accueil .titrepage {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
}

#accueil .presentation {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

#accueil .presentation h2 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#accueil .presentation p {
  color: rgba(255, 255, 255, 0.8);

#accueil .presentation p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}
/* Styles pour le containerComp */
#accueil .containerComp {
  color: #000000;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
}
#accueil .containerLien ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#accueil .containerLien ul li {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 8px 16px;
}


#accueil .containerLien ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#accueil .containerLien ul li {
  border: 2px solid #000000; /* Ajoute une bordure de 2px solide noire */
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 10px; /* Ajoute de l'espace entre chaque élément de la liste */
  box-sizing: border-box; /* Empêche la bordure de changer la taille du conteneur */
}

#accueil .containerLien ul li a {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #000000;
  font-size: 20px;
}

#accueil .containerLien ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #000000;
  border-radius: 5px;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

#accueil .containerLien ul li a:hover {
  color: #ffffff;
}

#accueil .containerLien ul li a:hover::before {
  width: 100%;
  opacity: 1;
}

/* Main */
main {
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

section h2 {
  margin: 0;
  font-size: 24px;
}

section p {
  margin-top: 10px;
}

  /* Styles pour la section 2 */
  .section2 {
   background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
   height: 100vh;
   width: 100%;
   background-color: #000000;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   padding: 50px;
   margin-top: 20px;
   border-radius: 10px;
   position: relative;
  }
  
  .section2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .section2 h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  }
  
  .section2 p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  }
  /* Styles pour la section 3 */
  .section3 {
    background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
    height: 100vh;
  width: 100%;
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
  }
  
  .section3::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .section3 h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  }
  
  .section3 p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  }

  /* Styles pour la section 4 */
  .section4 {
    background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
    height: 100vh;
  width: 100%;
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
  }
  
  .section4::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .section4 h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  }
  
  .section4 p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  }

/* Styles pour la section 5 */
.section5 {
  background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
  height: 100vh;
width: 100%;
background-color: #000000;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
padding: 50px;
margin-top: 20px;
border-radius: 10px;
position: relative;
}
  
.section5::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.section5 h2 {
font-size: 24px;
margin-bottom: 20px;
color: white;
}

.section5 p {
font-size: 16px;
line-height: 1.5;
color: white;
}

 /* Styles pour la section 6 */
 .section6 {
  background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
  height: 100vh;
width: 100%;
background-color: #000000;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
padding: 50px;
margin-top: 20px;
border-radius: 10px;
position: relative;
}
  
.section6::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.section6 h2 {
font-size: 24px;
margin-bottom: 20px;
color: white;
}

.section6 p {
font-size: 16px;
line-height: 1.5;
color: white;
}

/* Styles pour la section 7 */
.section7 {
height: 100vh;
width: 100%;
background-image: url('https://i.ytimg.com/vi/szP_dqVXmh8/maxresdefault.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
padding: 50px;
margin-top: 20px;
border-radius: 10px;
position: relative;
}

.section7::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.section7 h2 {
font-size: 24px;
margin-bottom: 20px;
color: white;
}

.section7 p {
font-size: 16px;
line-height: 1.5;
color: white;
}